<header
  class="max-w-40 mx-auto flex flex-col items-center gap-5 pt-4 sm:justify-between sm:flex-row sm:max-w-full"
>
  <p
    class="font-ccp-space-grotesk font-medium tracking-[-0.44px] text-2xl text-ccp-white lowercase sm:text-[2rem]"
  >
    Carlos Castillo
  </p>
  <nav class="flex justify-between w-full sm:w-fit gap-8" aria-label="Social links">
    <a
      href="https://github.com/CharlieCastleWeb"
      target="_blank"
      class="focus-visible:scale-120 hover:scale-120 transition-all ease-in-out"
      rel="noopener"
    >
      <img src="assets/images/github.svg" alt="GitHub profile" class="size-5 sm:size-6" />
    </a>
    <a
      href="https://www.linkedin.com/in/carlos-castillo-martinez-68405218/"
      target="_blank"
      class="focus-visible:scale-120 hover:scale-120 transition-all ease-in-out"
      rel="noopener"
    >
      <img src="assets/images/linkedin.svg" alt="LinkedIn profile" class="size-5 sm:size-6" />
    </a>
    <a
      href=""
      target="_blank"
      class="focus-visible:scale-120 hover:scale-120 transition-all ease-in-out"
      rel="noopener"
    >
      <img src="assets/images/twitter.svg" alt="Twitter profile" class="size-5 sm:size-6" />
    </a>
  </nav>
</header>
